.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.box {
    width: 100px;
    height: 100px;
    transition: 0.5s;
}

.box1 {
    background-color: #2c2842;
}

.box2 {
    background-color: #2d7049;
}

.box3 {
    background-color: #9d9ef1;
}

.box4 {
    background-color: #2e0f27;
}

.box1:hover {
    transform: scale(1.5);
}

.box2:hover {
    transform: rotate(45deg);
}

.box3:hover {
    transform: skew(20deg);
}

.box4:hover {
    transform: translateY(-20px);
} 