body {
    background-image: url(Images/body\ image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.submit-btn{
    background-color:blue;
    width: 500px;
    height: 100px;
    border-radius: 20px;
    font-size: 4vh;
    margin-top: 2%;
}
.form-group {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.form-group input{
    padding-left: 20px;
    width: 500px;
    height: 100px;
    border-radius: 20px;
}

