body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background-image: url(images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-position-y: 250px;
    background-position-x: center;
  
    
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#links {
    display: flex;
    gap: 20px;
}

#section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30px;
}


#section1 button {
    background-color: #ff6b35;
    color: #c4f1be;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    border: none;
    
}

#section1 input {
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
}


.text-content {
    max-width: 40%;

}

#section2 {
   background-color: #845ec2;
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   
}

#section2 #profile-img {
    width: 50px;
    border-radius: 50%;
    border: 5px solid #ff9671;
}

#testimonial {
    background-color: #4ffbdf;
    padding: 20px;
    border-radius: 20px;
}
